main { 
  background-image: url("./resources/websitebackground.jpg");
  color: white;
  background-attachment: fixed;
}
section {
  height: auto;
  flex-grow: 2;
}
.App {
  text-align: center;
}
.App-header {
  position: relative;
  background-color: rgb(44, 0, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid rgb(119, 74, 150);
}
.App-header nav {
  position: fixed;
  right: 10px;
  top: 10px;
}
.login {
  height: 30px;
  width: auto;
  color: white;
  background-color: rgb(44, 0, 74);
}
.login:hover {
  transition: .2s;
  background-color: rgb(119, 74, 150);
}
.login-link {
  text-decoration: none;
  color: white;
}
.logout {
  height: 30px;
  width: auto;
  color: white;
  background-color: rgb(44, 0, 74);
}
.logout:hover {
  transition: .2s;
  background-color: rgb(119, 74, 150);
}
.searchbar {
  margin: auto;
  padding-top: 30px;
}
.sections {
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  width: auto;
}
.section {
  padding: 50px;
  min-height: 400px;
  width: 400px;
  border: 5px solid rgb(119, 74, 150);
  border-radius: 10px;
}
.mid {
  flex-grow: 1;
}
.track {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.track div {
  flex-grow: 1;
  height: 20px;
}
.track div p {
  margin: 0px;
  height: 20px;
  float: left;
}
#title span {
  color: rgb(182, 0, 192);
}
#playlist {
  background-color: rgba(44, 0, 74, .8);
}
#search-results {
  background-color: rgba(44, 0, 74, .8);
}